header {
    background-color:skyblue;
    height: 10vh;
    text-align: center;
    display: flex; 
    justify-content: space-between;
    
}

.wrapper{
    padding: 20px 0;
    margin: 0 auto;
    width: 95%;
    max-width: 1000px;
    display: flex; 
    justify-content: space-between;
}
    
  

.header__logo {
    height:10vh;
} 

.header__image {
    background-image: url("https://cdn.pixabay.com/photo/2015/12/25/06/32/barn-owl-1107397_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    text-align: center;
    display: flex; 
    justify-content: space-between;
    

}



.aboutus {
    background: #2D5E8F;
    padding: 100px 0;
}


.point {
    text-align: justify;
    width: 100%;
    max-width: 300px;
}

.birdphoto {
    height:30vh;
}

.missionstatement {
    height: 30vh;
    background-image: url("https://cdn.pixabay.com/photo/2015/07/29/12/08/hot-air-balloon-865819_1280.jpg");
}